// 初始化
@import ./base/_reset
// video4
@import ../js/fesd2022/video4/_video4
body
  margin: 0

nav.navbar
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 60px
  background-color: #000
  color: #fff
  .container
    display: flex
    align-items: center
    width: 90%
    height: 100%
    .logo
      > p
        font-size: 30px
    .menu
      display: flex
      align-items: center
      margin-left: auto
      li
        a
          padding: 0 10px
          color: #fff

.video-section
  max-width: 500px
  width: 100%