modern-modal.ajaxMe(data-modal-id="ajaxMe")
  .nav-bar
    .close-button(data-modal-destroy)
      p close
  .box.box1(data-aost="" data-aost-fade-up="")
    p 區塊 1
  .box.box2(data-aost="" data-aost-fade-up="")
    p 區塊 2
  .box.box3(data-aost="" data-aost-fade-up="")
    p 區塊 3
  .box.box4(data-aost="" data-aost-fade-up="")
    p 區塊 4
  .box.box5(data-aost="" data-aost-fade-up="")
    p 區塊 5
  .box.box6(data-aost="" data-aost-fade-up="")
    p 區塊 6