modern-modal.ajaxMe(data-modal-id="ajaxMe" data-modal-template-setting="destroy")
  .box.box1(data-aost="" data-aost-fade-up="")
  .box.box2(data-aost="" data-aost-fade-up="")
  .box.box3(data-aost="" data-aost-fade-up="")
  .box.box4(data-aost="" data-aost-fade-up="")
  .box.box5(data-aost="" data-aost-fade-up="")
  .box.box6(data-aost="" data-aost-fade-up="")
  .close-button(data-modal-destroy)